@model Repozytorium.Models.Edytor
@{
  ViewBag.Tytul = "Edytuj treść HTML";
}

<h2>Edytuj treść HTML</h2>

<div class="row" style="max-width:800px">
  <div class="col-xs-12">
    @using (Html.BeginForm())
    {
    @Html.AntiForgeryToken()
      <input type="hidden" name="Id" value="Model.Id" />
      <hr />
      <h2>Kod HTML:</h2>
      @Html.TextAreaFor(model => model.Tresc)

      <div class="form-actions align-right clearfix">
        <button type="submit" class="btn btn-primary pull-left">
          <i class="ace-icon fa fa-check bigger-110"></i>
          Zapisz
        </button>
      </div>
    }
    @if (Model != null)
      {
      <hr />
      <h2>Podgląd w HTMLu:</h2>
      <hr />
      @Html.Raw(Model.Tresc);
      }
  </div>
</div>


@section Styles
{
  <link href="~/Content/jquery.cleditor.css" rel="stylesheet" />
}

@section scripts {
  <script src="~/Scripts/jquery.cleditor.js"></script>
  <script>
    $(document).ready(function () {
      $("#Tresc").cleditor();
    });
  </script>
}

